
services:
  postgres:
    image: postgres:16
    container_name: deribit_postgres
    environment:
      POSTGRES_DB: deribit
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
#    ports:
#      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres -d deribit" ]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7
    container_name: deribit_redis
#    ports:
#      - "6379:6379"

  api:
    build: .
    container_name: deribit_api
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started
    ports:
      - "8000:8000"

  worker:
    build: .
    container_name: deribit_worker
    command: celery -A app.core.celery_app.celery_app worker -l info
    env_file:
      - .env
    depends_on:
      - postgres
      - redis

  beat:
    build: .
    container_name: deribit_beat
    command: celery -A app.core.celery_app.celery_app beat -l info
    env_file:
      - .env
    depends_on:
      - postgres
      - redis

volumes:
  pgdata:
